<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated search_index -->
      <package
            uri="http://data-in-motion.biz/search/index/1.0"
            class="org.gecko.searchindex.SearchIndexPackage"
            genModel="model/search_index.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated search_index -->
      <parser
            contentTypeIdentifier="search"
            class="org.gecko.searchindex.util.SearchIndexResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated search_index -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="searchindex"
            id="search"
            name="%_UI_SearchIndex_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://data-in-motion.biz/search/index/1.0"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
